In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split

In [3]:
# Import Data
file = "Resources/lending_data.csv"

credit_df = pd.read_csv(file)
credit_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [6]:
# Define the X (features) and y (target) sets
y = credit_df["loan_status"].values
X = credit_df.drop("loan_status", axis=1)

# Confirm X and y variables
# y
# X

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [15]:
# Split the data into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
63243,8900.0,6.893,45500,0.340659,3,0,15500
36991,9000.0,6.932,45800,0.344978,3,0,15800
39985,8900.0,6.896,45500,0.340659,3,0,15500
63047,9000.0,6.961,46100,0.349241,3,0,16100
49913,8400.0,6.712,43800,0.315068,3,0,13800
...,...,...,...,...,...,...,...
6265,10400.0,7.554,51700,0.419729,4,1,21700
54886,9900.0,7.326,49500,0.393939,4,0,19500
76820,18500.0,10.985,84000,0.642857,12,2,54000
860,9500.0,7.174,48100,0.376299,4,0,18100
15795,10100.0,7.432,50500,0.405941,4,1,20500